body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: auto;
}

.intro {
    background-color: #EEEFF1;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__logo {
    font-family: "Revalia", sans-serif;
    font-size: 48px;
    line-height: 59.52px;
    text-align: center;
    color: #34547A;
    margin: 0;
    margin-top: 57px;
}

.header__text {
    margin-left: 398px;
    display: flex;
    flex-direction: row;
    gap: 42px;
}

.header__title {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 26.25px;
    letter-spacing: 0.1em;
    color: #000000;
    margin: 0;
    margin-top: 79px;
    gap: 42px;
}

.design {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.design__img__laptop {
    width: 357px;
    height: 233.7px;
    margin-top: 183px;
    margin: auto;
    margin-right: 0;
    padding-left: 85px;
}

.design__text {
    margin: auto;
    margin-left: 0;
}

.design__text__title {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    color: #000000;
    margin-top: 162px;
    margin-left: 131px;
    height: 45px;
    padding: 0;
}

.design__text__subtitle {
    width: 540px;
    height: 67px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 26.25px;
    color: #727272;
    margin: 0;
    margin-top: 60px;
    margin-left: 131px;
}

.design__text__btn {
    width: 225px;
    height: 65px;
    background-color: #34547A;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 146px;
    border: 0;
    margin-left: 131px;
    cursor: pointer;
}

.design__text__btn:hover {
    background-color: #21344d;
}

.about__me {
    margin: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
}

.headline {
    text-align: center;
    margin: 0;
    font-size: 32px;
    line-height: 37.5px;
    padding-top: 100px;
}

.subtitle {
    font-size: 16px;
    line-height: 26.25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    }

.results {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 100px;
    background-color: #34547A;
}

.results__work {
    margin: 100px 0 100px;
    color: #FFFFFF;
    align-self: center;

}

.results__work__item {
    display: flex;
    flex-direction: row;
}

.results__work__img {
    float: left;
    margin-left: 49px;
}

/* .results__work__img:first-child {
    margin-left: 415px;
} */

.results__work__number {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    line-height: 24.61px;
    float: left;
    margin: 0;
    margin-left: 20px;
}

.results__work__text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 26.25px;
    float: left;
    margin: 0;
}

.my__skils {
    background-color: #FFFFFF;
}

.my__skils__graph {
    margin-top: 102px;
    margin-bottom: 101px;
    width: 1150px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}

.my__skils__img {
    width: 555px;
    height: 450px;
    float: right;
}

.my__skils__list {
    text-align: left;
    width: 445px;
    padding-top: 102px;
}

.my__skils__title {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    line-height: 37.5px;
    color: #000000;
    margin: 0;
    margin-bottom: 50px;
}

.my__skils__text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 26.25px;
    color: #727272;
    margin: 0;
    margin-top: 29.76px;
}

/* Не работает псевдокласс?
.my__skils__text:first-child {
    margin-top: 0;
} */

.my__skils__line {
    width: 445px;
    height: 4px;
    rotate: 0.06 deg;
	background: linear-gradient(90deg, #34547A 79%, #C4C4C4 21%);
}

.my__work {
    width: 1920px;
    height: 1004px;
    background-color: #EEEFF1;
}

.my__work__background {
    display: block;
    margin: auto;
    height: 600px;
    cursor: pointer;
    margin-top: 57px;
}

.my__work__video__btn {
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: -350px;
}

.projects {
    background-color: #FFFFFF;
}

.projects__foto {
    display: grid;
    grid-template-columns: repeat(4, 480px);
    margin: 0;
    margin-top: 28px;
    cursor: pointer;
    margin-bottom: 28px;
}

.projects__foto__list {
    width: 460px;
    height: 480px;
    border: none;
    cursor: pointer;
    padding: 0;
}

.projects__foto__list:hover {
    
}

  .projects__foto__work {
    width: 480px;
    height: 480px;
    border: none;
    cursor: pointer;
    padding: 0;
}

.projects__foto__work:hover {
    background-color: rgba(52, 84, 122, 0.8);
}

.web__site {
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: #EEEFF1;
}

.web__site__form {
    margin-top: 65px;
}

.web__site__name {
    padding: 0;
    padding-left: 20px;
    height: 50px;
    width: 235px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    border: 0;
    margin-right: 30px;
    font-size: 14px;
    line-height: 22.97px;
}

.web__site__name:last-child {
    margin-right: 0px;
}

.web__site__massage {
    resize: none;
    margin-top: 20px;
    width: 518px;
    height: 156px;
    border: 0;
    padding-top: 17px;
    padding-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 22.97px;
    text-align: start;
}

.web__site__btn {
    display: block;
    width: 225px;
    height: 65px;
    background-color: #34547A;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
} 

.web__site__btn:hover {
    background-color: #21344d;
}

.footer__menu {
    display: flex;
    flex-direction: row;
    background-color: #34547A;
    margin: auto;
    width: 1920px;
}

.footer__menu__right {
    padding: 50px 0;
    margin: auto;
}

.footer__menu__name {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    line-height: 24.61px;
    text-align: left;
    color: #FFFFFF;
}

.footer__menu__text {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 21.33px;
    text-align: left;
    color: #FFFFFF;
}

.footer__menu__svg {
    margin: auto;
}


/* .projects__foto__list {
    width: 480px;
    height: 480px;
    border: none;
    background-image: url(asstes/png/list.png);
    cursor: pointer;
}

.projects__foto__list:hover {
    background-image: url(asstes/svg/view.svg);
    background-repeat: no-repeat;
    background-color: rgba(52, 84, 122, 0.);
    background-position: center;
}

  .projects__foto__work {
    width: 480px;
    height: 480px;
    border: none;
    background-image: url(asstes/png/work.png);
    cursor: pointer;
}

.projects__foto__work:hover {
    background-image: url(asstes/svg/view.svg);
    background-repeat: no-repeat;
    background-color: rgba(52, 84, 122, 0.8);
    background-position: center;
} */